global:
  resolve_timeout: 2m

route:
  group_by: ['alertname', 'owner'] # Group alerts by owner!
  group_wait: 1s
  receiver: 'admin-team' # Default

  routes:
    - match:
        owner: admin
      receiver: 'frontend-team-discord'
receivers:
- name: 'admin-team'
  webhook_configs:
    - url: 'http://192.168.58.175:5000/webhook'
      send_resolved: false

- name: 'frontend-team-discord'
  discord_configs:
    - webhook_url: 'https://discord.com/api/webhooks/1466089425585967205/4L3pBMC20Ur06fvGvPo7xZjEEYagQE1t5By9v_EDxfbrIL3c9fXkByLTiuKarL_VQLSo'
  webhook_configs:
    - url: 'http://192.168.58.175:5000/webhook'
      send_resolved: false
