---
- name: Create alertmanager user
  user:
    name: alertmanager
    shell: /bin/false
    system: yes
    create_home: no

- name: Create alertmanager directories
  file:
    path: "{{ item }}"
    state: directory
    owner: alertmanager
    group: alertmanager
    mode: '0755'
  loop:
    - /etc/alertmanager
    - /var/lib/alertmanager

- name: Download Alertmanager
  get_url:
    url: "https://github.com/prometheus/alertmanager/releases/download/v{{ alertmanager_version }}/alertmanager-{{ alertmanager_version }}.linux-amd64.tar.gz"
    dest: /tmp/alertmanager.tar.gz
    mode: '0644'

- name: Extract Alertmanager
  unarchive:
    src: /tmp/alertmanager.tar.gz
    dest: /tmp
    remote_src: yes

- name: Copy Alertmanager binaries
  copy:
    src: "/tmp/alertmanager-{{ alertmanager_version }}.linux-amd64/{{ item }}"
    dest: /usr/local/bin/
    remote_src: yes
    owner: alertmanager
    group: alertmanager
    mode: '0755'
  loop:
    - alertmanager
    - amtool

- name: Create Alertmanager configuration
  template:
    src: alertmanager.yml.j2
    dest: /etc/alertmanager/alertmanager.yml
    owner: alertmanager
    group: alertmanager
    mode: '0644'
  notify:
    - restart alertmanager

- name: Create Alertmanager systemd service
  template:
    src: alertmanager.service.j2
    dest: /etc/systemd/system/alertmanager.service
    mode: '0644'
  notify:
    - reload systemd
    - restart alertmanager

- name: Enable and start Alertmanager
  systemd:
    name: alertmanager
    enabled: yes
    state: started

- name: Allow Alertmanager port through firewall
  ufw:
    rule: allow
    port: '9093'
    proto: tcp
  when: ansible_facts['os_family'] == "Debian"