PROMETHEUS_URL=http://{{ hostvars[groups['monitoring'][0]].ansible_host }}:9090
PROXMOX_API_URL={{ lookup('env', 'PROXMOX_API_URL') | default('https://192.168.1.10:8006/api2/json', true) }}
PROXMOX_NODE={{ lookup('env', 'PROXMOX_NODE') | default('pve', true) }}
PROXMOX_TOKEN_ID={{ lookup('env', 'PROXMOX_TOKEN_ID') }}
PROXMOX_TOKEN_SECRET={{ lookup('env', 'PROXMOX_TOKEN_SECRET') }}
CHECK_INTERVAL=60
RESTART_COOLDOWN=300
